config outless 'app'
	option http_port '41220'
	option external_host 'localhost'
	option log_level 'info'
	option singbox_log_level 'warn'
	option disable_docs '0'
	option pprof_enabled '0'
	option pprof_bind '127.0.0.1:6060'
	option shutdown_gracetime '10s'

config outless 'jwt'
	option secret ''
	option expiry '24h0m0s'

config outless 'country_lookup'
	option check_interval '30s'
	option batch_size '50'
	option retry_delay '10m'
	option provider_timeout '10s'

config outless 'database'
	option path '/etc/outless/outless.db'
